@charset "UTF-8";

/* typical device Breakpoints onde o layout muda para se adaptar ao tamanho da tela

Pequenas telas: até 600px
Celular: de 0px até 480px
Tablet: de 481px até 768px
Desktop: de 769px até 1279px
Grandes telas: acima de 1280px...

*/

body{
    background-image: linear-gradient(to top, #49a09d, #5f2c82);
}

@media screen and (min-width:768px) and (max-width:992px){ /* tablet*/
     body{
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    
    section#login{
    width:80vw;
    }

section#login > div#imagem{
    float: left;
    width: 35%;
   height: 100%;
    
}

section#login > div#formulario{
    float: right;
    width: 70%;
}

}

@media screen and (min-width:992px) {  /* Grandes telas*/
    body{
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    
    section#login{
    width: 950px;
    }

section#login > div#imagem{
    float: right;
    width: 50%;
    height: 100%;
}

section#login > div#formulario{
    float: left;
    width: 50%;
}

div#formulario > h1{
    font-size: 2em;
}

div#formulario > p {
    font-size: 1.2em ;
}

}
    
