@charset "UTF-8";

/* Paleta de cores
verde piscina e verde piscina mais escuro*/

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body,html{
    background-color: rgb(41, 111, 118);
    /*
    % / tamanho relativo ao elemento pai
    vw /largura da janela inteira (viewport width)
    vh / altura da janela (viewport height)
    */
    height: 100vh; 
    width: 100vw; 
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    position: absolute;
    top:50%;
    left: 50%;
    overflow: hidden; /* tudo que estive fora da borda ficara redondo ,deixa as bordas arredondadas*/

    background-color: rgba(13, 1, 1, 0.471);
    width: 250px;

    border-radius: 20px;
    box-shadow: 0px 0px 10px ;


    transform: translate(-50%, -50%); /* deixa no meio da tela independente do tamanho da dela*/
    transition: width 0.2s, height 0.2s; /* trasição muito legal*/
    transition-timing-function: ease; /* transição suave*/
    
}

section#login > div#imagem{
    display: block;
    background:rgb(41, 111, 118) url(../imagens/pexels-mithulvarshan-3023211.jpg) no-repeat;
    background-size: cover;
    background-position:  center;
    height: 200px;
    
}

section#login > div#formulario{
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center; 
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em ;
}

form > div.campo{
    background-color: #481b66 ;
    border: 2px solid #481b66;
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;

}

div.campo > label {
    display: none;
}

div.campo > span {
    color: white;
    font-size: 20px;
    width: 40px;
    padding: 8px;
}

div.campo > input{ /* caixa de dentro onde fica os comandos para o usuario*/
    background-color: aquamarine;
    font-size: 1em;
    width: calc(100% - 40px);/* para a caixa menor emcaioxar dentro da maior  ou usa flex-grow: 1; /* Faz o input ocupar todo o espaço restante*/
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 4px;
    transform: none; /* tira o efeito de subir ou vc pode usar
     translateY(-34px); para a caixa menor ficar cexatamente em cima da outra caixa que antes era a maior ( toda as transformaç~es são sempre colocadas na ultima linha igual essa agora*/
}

div.campo > input:focus-within{
    background-color: white; /* dar foco*/
    border: none;

}
      


form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: rgb(41, 111, 118);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover{
    background-color: rgb(32, 88, 93);
}

form > a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    margin-top: 10px ;
    padding-top: 5px;
    background-color: white;
    color: rgb(7, 69, 69);
    border: 1px solid aquamarine;
    border-radius: 7px;
    text-decoration: none;
}
form > a.botao:hover{
    background-color: rgb(19, 77, 82) ;
    color: white;
}

form > a.botao > span {
    font-size: 1em;
    vertical-align: middle;
    margin-left: 5px;

}