@charset "UTF-8";

/* Paleta de cores
verde piscina e verde piscina mais escuro*/

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body,html{
    background-color: aquamarine;
    /*
    % / tamanho relativo ao elemento pai
    vw /largura da janela inteira (viewport width)
    vh / altura da janela (viewport height)
    */
    height: 100vh; 
    width: 100vh; 
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%); /* deixa no meio da tela independente do tamanho da dela*/
    overflow: hidden; /* tudo que estive fora da borda ficara redondo ,deixa as bordas arredondadas*/

    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
}

section#login > div#imagem{
    background:aquamarine url(..//imagens/pexels-mithulvarshan-3023211.jpg) no-repeat;
    background-size: cover;
    height: 200px;
}
